body {
    color: white;
    font-family: 'Courier Prime', monospace;
    width: 100vw;
    height: 100vh;
    background-image: url("img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    background-color: #fa5959;
    font-size: 16px;
    width: 50%;
    height: 50%;
    padding: 30px;
    border-radius: 30px;
}
#ramyeon {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    height: 100%;
}
#beef {
    align-content: center;
    justify-content: center;
    display: flex;
}
#gogi {
    display: block;
    justify-content: center;
    align-content:center;
    border-style: solid;
    border-radius: 30px;
    border:
    background: #fa5959;

}
#water {
    align-content: center;
    justify-content: center;
    display:flex;
}
.formgroup {
    width: 350px;
    height: 30px;
}
#email {
    border: 5px solid red;
}
.asteric {
    color: red;
}
#privacy {
    color: blue;
}
